{
  "comments": false,
  "env": {
    "main": {},
    "renderer": {}
  },
  "plugins": [
    [
      "transform-runtime",
      {
        "polyfill": false
      }
    ],
    "babel-plugin-transform-es2015-modules-commonjs",
    "babel-plugin-transform-es2015-destructuring",
    "babel-plugin-transform-async-to-generator",
    "babel-plugin-transform-exponentiation-operator",
    "babel-plugin-syntax-trailing-function-commas",
    "babel-plugin-transform-object-rest-spread",
    "babel-plugin-transform-class-constructor-call",
    "babel-plugin-transform-class-properties",
    "babel-plugin-transform-decorators",
    "babel-plugin-transform-export-extensions",
    "babel-plugin-transform-do-expressions",
    "babel-plugin-transform-function-bind"
  ]
}
