
.bucket-tl {
  display: block;
  color: #fff;
  height: 46.5px;
  background: $leftSidebarBgColor2;
  margin-top: 0px;
  text-indent: 3px;
  text-align: center;
  font-size: 18px;
  i {
    vertical-align: middle;
    width: 32px;
    height: 32px;
    display: inline-block;
    background: url("../../static/images/logo-min.png") no-repeat center center / contain;
  }
  padding-top: 33.5px;
}

.bucket-opt {
  padding: 15px 9px;
  background: $leftSidebarBgColor2;
  ul {
    margin: 0 auto;
    text-align: center;
  }
  li {
    display: inline-block;
    width: 65px;
    text-align: center;
    i {
      margin-right: 5px;
      width: 14px;
      height: 14px;
      display: inline-block;
      vertical-align: middle;

    }
    .fresh {
      background: url("../../static/images/fresh.png") no-repeat center center;
    }
    .el-new {
      background: url("../../static/images/new.png") no-repeat center center;
    }
    .el-setting {
      background: url("../../static/images/set.png") no-repeat center center;
    }
    a {
      display: inline-block;
      width: 100%;
      color: #fff;
      font-size: 13px;
      padding: 6px 0;
      span {
        opacity: 0.6;
      }
    }
    a:hover {
      span {
        opacity: 1
      }
    }
  }
}

.bucket-group {
  position: absolute;
  top: 140px;
  bottom: 40px;
  left: 0;
  right: 0;
  overflow: auto;
  &::-webkit-scrollbar-thumb {
    background-color: rgba(255, 255, 255, .2);
  }
  &.active {
    height: 45px;
    overflow: hidden;
  }
}

.load-progress {
  position: absolute;
  bottom: 0px;
  left: 0;
  right: 0;
  text-indent: 20px;
  font-size: 13px;
  height: 40px;
  line-height: 40px;
  background: $leftSidebarBgColor2;
  //border-bottom: 2px solid #575757;
  color: #fff;
  i {
    width: 18px;
    height: 18px;
    display: inline-block;
    position: relative;
    top: 3.5px;
    left: 3px;
  }
  @keyframes linemove {
    50% {
      .p1 {
        left: 95px;
      }
    }
    100% {
      .p1 {
        left: 0px;
      }
      //.p2{
      //  left: 170px;
      //}
      //.p3{
      //  left: 230px;
      //}
    }
  }
  .move {
    height: 2px;
    background: #3c4046;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0px;
    //animation: linemove 2s linear 2s infinite;
    span {
      position: absolute;
      width: 40px;
      height: 100%;
      display: inline-block;
      background: $activebg;
    }
    .p1 {
      left: 20px;
    }
    .p2 {
      left: 95px;
    }
    .p3 {
      left: 170px;
    }

  }
  .icon {
    background: url("../../static/images/icon_progress.png") no-repeat center center;
  }
}

.loading {
  text-align: center;
  font-size: 24px;
  z-index: 9999;
  position: absolute;
  top: 140px;
  bottom: 40px;
  left: 0;
  right: 0;
  bottom: 40px;
  background: rgba(255, 255, 255, .1);
  color: $activebg2;
  padding-top: 40px;
}

.bucket-item {
  position: relative;
  .item {
    position: relative;
    color: #fff;
    opacity: .6;
    a {
      width: 160px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      padding: 13px 20px;
      display: block;
      font-size: 13px;
      i {
        display: inline-block;
        width: 4px;
        height: 4px;
        background: $activebg;
        position: relative;
        top: -2px;
      }
      span {
        display: inline-block;
        padding-left: 5px;
      }
    }
    &.active {
      background: $activebg !important;
      opacity: 1;
      i {
        background: #fff;
      }
    }
    &:hover {
      opacity: 1;
      background: $leftSidebarBgColor2;
    }
  }
}

.dilog-addbucket {
  width: 600px;
  .el-form-item__label {
    padding-right: 20px;
    width: 140px;
  }
  .el-form-item__content {
    margin-left: 140px;
    input {
      width: 240px;
    }
  }
}

.dilog-propertybucket {
  width: 540px;
  .el-row {
    height: 36px;
    .el-col-8 {
      padding-right: 45px;
      text-align: right;
    }
  }
  .el-button--danger {
    float: left;
  }
}

.dialog-http {
  width: 65%;
  .el-row {
    padding: 10px 0;
  }
  .el-col-8, .el-col-5 {
    text-align: right;
    padding-right: 45px;
    line-height: 30px;
  }
  .el-col-19 {
    line-height: 30px;
  }
  .el-button--small {
    margin-left: 20px;
    //  float: right;
  }
  .seconds {
    display: inline-block;
    width: 80px;
  }
  .adress {
    display: inline-block;
    width: 300px;
  }
}

.dialog-header {
  width: 600px;
  .my-el-table {
    width: 100%;
    max-width: 100%;
    background-color: #fff;
    border: 1px solid #dfe6ec;
    font-size: 14px;
    color: #1f2d3d;
    max-height: 280px;
    overflow-y: auto;
    thead {
      background: #ddd;
    }
    tr {
      td {
        padding: 10px;
      }
    }
    .text {
      color: $activebg2;
      &:hover {
        text-decoration: underline;
      }
    }
  }
}

.dialog-file-limit {
  width: 700px;
  top: 8% !important;
  h2 {
    margin-bottom: 12px;
  }
  .el-dialog__body{
    padding: 10px 16px;
    padding-bottom: 0;
  }
  .user-limit {
    margin-top: 20px;
  }
}

.dialog-bucket-cors {
  width: 95%;
  max-width: 1040px;
  top: 20px !important;
  .el-dialog__body {
    padding: 10px 20px;
  }
  .tl {
    padding: 8px 0;
  }
  .done {
    text-align: center;
    .el-button--text {
      margin: 0;
    }
  }
}

.dialog-bucket-cors-add {
  width: 700px;
  top: 20px !important;
  textarea {
    width: 270px;
  }
  .max-age {
    width: 100px;
    display: inline-block;
  }
  .el-form-item__label {
    padding-right: 28px;
  }
  .el-dialog__body {
    padding-bottom: 0;
  }
}

.setting-form {
  .el-col-9 {
    text-align: right;
    height: 30px;
    line-height: 28px;
    padding-right: 30px;
  }
  .el-row {
    padding: 5px 0;
  }
}

.delete-error {
  width: 600px;
  .tl {
    margin-bottom: 12px;
  }
}

.delete-content {
  width: 610px;
  .file {
    height: 60px;
  }
}

.dilog-setting {
  h2 {
    font-size: 15px;
    color: #333;
    font-weight: normal;
  }
  .el-col-9 {
    font-size: 13px;
  }
  .download {
    margin-top: 15px;
  }
}

.dialog-upload {
  top: 25% !important;
  .drop-content {
    text-align: center;
    border: 1px dashed #dcdcdc;
    padding: 40px;
    background: #f7f7f7;
    border-radius: 8px;
    &:hover {
      border: 1px dashed $activebg2;
    }
    &.active {
      border: 1px dashed $activebg2;
      background: #f2ffe8;
    }
    i {
      font-size: 60px;
      color: #828282;
    }
    p {
      font-size: 14px;
      margin-top: 8px;
    }
  }
}