
.bucket-tl {
  display: block;
  color: #000;
  height: 32px;
  line-height: 32px;
  padding-left: 20px;
  background: rgba(255, 255, 255, .1);
  margin-top: 10px;
  text-indent: 3px;
  font-size: 16px;
  user-select: initial
}

.bucket-opt {
  margin: 0 20px;
  margin-top: 8px;
  border-bottom: 1px solid #ddd;
  ul {
    margin: 0 auto;
    text-align: center;
  }
  li {
    display: inline-block;
    i {
      margin-right: 5px;
      color: #2277da;
      &.fresh{
        width: 14px;
        height: 14px;
        display: inline-block;
        vertical-align: middle;
        //background: url("static/images/fresh.png") no-repeat center center;
      }
    }
    a {
      color: $fontColor;
      display: block;
      padding: 6px 4px;
      font-size: 14px;
    }
    a:hover {
      color: #333;
    }
  }
}

.bucket-group {
  position: absolute;
  top: 77px;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: auto;
  &.active {
    height: 45px;
    overflow: hidden;
  }

}

.bucket-item {
  margin: 11px 0;
  position: relative;
  .item {

    position: relative;
    color: $fontColor;
    margin-bottom: 5px;
    a {
      padding: 8px 20px;
      display: block;
      font-size: 14px;
      i {
        position: absolute;
        top: 6px;
        right: 12px;
        font-size: 12px;
        padding: 5px;
        display: none;
      }
    }
    &.active {
      background: $activebg !important;
      color: #fff;
      i {
        display: inline-block;
      }
    }
    &:hover {
      background: #d5e2ef;
      i {
        display: inline-block;
      }
    }
  }
  .loading {
    text-align: center;
    font-size: 24px;
    color: #fff;
    padding-top: 20px;
    z-index: 9999;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(255, 255, 255, .2);
  }
}

.dilog-addbucket {
  width: 600px;
  .el-form-item__label {
    padding-right: 20px;
    width: 140px;
  }
  .el-form-item__content {
    margin-left: 140px;
    input {
      width: 240px;
    }
  }
}

.dilog-propertybucket {
  width: 540px;
  .el-row {
    height: 36px;
    .el-col-8 {
      padding-right: 45px;
      text-align: right;
    }
  }
  .el-button--danger {
    float: left;
  }
}

.dialog-http {
  width: 65%;
  .el-row {
    padding: 10px 0;
  }
  .el-col-8 {
    text-align: right;
    padding-right: 45px;
  }
  .el-button--small {
    float: right;
  }
}

.dialog-header {
  width: 600px;
  .my-el-table {
    width: 100%;
    max-width: 100%;
    background-color: #fff;
    border: 1px solid #dfe6ec;
    font-size: 14px;
    color: #1f2d3d;
    max-height: 280px;
    overflow-y: auto;
    thead {
      background: #ddd;
    }
    tr {
      td {
        padding: 10px;
      }
    }
    .text {
      color: $activebg2;
      &:hover {
        text-decoration: underline;
      }
    }
  }
}

.dialog-file-limit {
  width: 700px;
  top: 5%;
  h2 {
    margin-bottom: 12px;
  }
  .user-limit {
    margin-top: 20px;
  }
}

.setting-form {
  .el-col-9 {
    text-align: right;
    height: 30px;
    line-height: 28px;
    padding-right: 30px;
  }
  .el-row {
    padding: 5px 0;
  }
}

.delete-error {
  width: 600px;
  .tl {
    margin-bottom: 12px;
  }
}

.delete-content {
  width: 610px;
  .file {
    height: 60px;
  }
}