* {
  margin: 0;
  padding: 0;
}

body, html {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  overflow: hidden;
  height: 100%;
  width: 100%;
  //font: 12px/1.5 "Helvetica Neue",Helvetica,Arial,"Microsoft Yahei","Hiragino Sans GB","Heiti SC","WenQuanYi Micro Hei",sans-serif;
  font-family: PingFangSC-Regular, Helvetica Neue, Helvetica, Hiragino Sans GB, Microsoft YaHei, SimSun, sans-serif;
  overflow: auto;
  color: $fontColor;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  user-select: none;
  cursor: default;
}

#app {
  z-index: 1;
  overflow: hidden;
}

.body-move {
  position: absolute;
  top: 0;
  left: 225px;
  right: 0;
  height: 24px;
  z-index: 999;
  -webkit-app-region: drag
}

.full-button {
  position: absolute;
  top: 0px;
  left: 7px;
  z-index: 9;
  span {
    width: 12px;
    height: 12px;
    display: inline-block;
    border-radius: 7px;
    line-height: 12px;
    margin-left: 1px;
    &:nth-child(1) {
      background: rgb(221, 102, 93);
    }
    &:nth-child(2) {
      background: rgb(240, 193, 81);
    }
    &:nth-child(3) {
      background: rgb(100, 202, 87);
    }
  }
  .win-btn {
    background: #fff;
    z-index: 99999;
    span {
      width: 24px;
      height: 24px;
      background: #fff;
    }
  }
}

.el-button-group {
  button {
    background: none;
    &:first-child {
      border-top-left-radius: 2px;
      border-bottom-left-radius: 2px;
    }
    &:last-child {
      border-top-right-radius: 2px;
      border-bottom-right-radius: 2px;
    }
  }
}

ul {
  list-style: none;
}

a {
  cursor: pointer;
  color: inherit;
  text-decoration: none;
}

.clearfix {
  overflow: auto;
}

::selection {
  background: $activebg2;
  color: #fff;
}

::-webkit-scrollbar {
  width: 8px;
  height: 5px;
}

::-webkit-scrollbar-track {
  background: none;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(207, 210, 215, .6);
  border-radius: 10px;
}