
.login-bg {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: url("../../static/images/bg-login.png") no-repeat center center;
  background-size: cover;
}

.login-form, .locked-form {
  width: 320px;
  padding: 40px;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-top: -225.5px;
  margin-left: -200px;
  text-align: center;
  padding: 0 40px;
  img {
    margin-bottom: 15px;
    width: 124px;
  }
  input {
    border: 1px solid #fff;
    color: #000;
    background: rgba(255, 255, 255, .1);
    &::-webkit-input-placeholder {
      color: #fff;
    }
  }

  button {
    width: 100%;
    background: rgb(150, 204, 77);
    font-weight: 500;
    font-size: 15px;
    border-color: #96CC4D;
  }
  .el-button--primary:focus, .el-button--primary:hover {
    background: #aee64f;
    border-color: #96CC4D;
  }
  .el-checkbox {
    display: inline-block;
    color: #fff;
    .el-checkbox__input.is-checked .el-checkbox__inner {
      background-color: #96CC4D;
      border-color: #96CC4D;
    }
  }
  .el-select {
    display: inline-block;
    width: 120px;
    margin-left: 58px;
    color: #fff;
    .el-input.is-disabled .el-input__inner{
      background: rgba(255, 255, 255, 0.1);
    }
    .el-input__icon {
      color: #fff;
    }
    input {
      color: #fff;
    }
  }

}

.login-select-area {
  .el-select-dropdown__item.selected {
    background-color: #96CC4D;
  }
  .el-select-dropdown__item.selected.hover {
    background-color: #96CC4D;
  }

}

.locked-form button {
  width: 100%;
}