
.index {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  .slide-left {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    background: $leftSidebarBgColor;
    width: 224.5px;
    color: #333;
    border-right: 1px solid $borderColor;
    .logo {
      height: 45px;
      line-height: 45px;
    }

  }
  .slide-right {
    position: absolute;
    top: 0;
    left: 225px;
    bottom: 0;
    right: 0;
    overflow: hidden;
    background: #fff;
  }

  //右键菜单
  #bucket-menu-list {
    background: #FAFAFA;
    box-shadow: 0 0 15px $fontColorDisable;
    display: block;
    list-style: none;
    margin: 0;
    padding: 0;
    position: absolute;
    width: 160px;
    outline: medium;
    z-index: 99999;
    background: #fff;
    border-radius: 4px;
    padding: 10px 0;
    li {
      cursor: pointer;
      padding: 6px 0;
      text-indent: 20px;
      font-size: 13px;
      &:hover {
        background: $rightSidebarBgColor;
      }
    }
  }

}

//左侧头部样式
.head {
  background: $rightSidebarBgColor;
  .top-row {
    height: 49px;
    border-bottom: 1px solid #bfcbd9;
    position: relative;
    .history {
      padding-left: 20px;
      width: 50px;
      display: inline-block;
      margin-top: 15px;
      i {
        background: #20a0ff;
        color: #fff;
        padding: 4px 4px;
        font-size: 12px;
        float: left;
        &:nth-child(2) {
          border-left: 1px solid #fff;
        }
      }
    }
    .nav-bar {
      position: absolute;
      top: 8px;
      left: 70px;
      right: 20px;
      bottom: 8px;
      border: 1px solid #bfcbd9;
      border-radius: 20px;
      padding-left: 5px;
      .nav {
        display: inline-block;
        max-width: 60%;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        margin-top: 2px;
        ul {
          li {
            display: inline-block;
            font-size: 13px;
            padding-left: 8px;
            &:hover {
              color: $fileActive;
              cursor: pointer;
            }
            &:after {
              content: '/';
              color: $fontColor;
              padding-left: 8px;
              display: inline-block;
            }
            &:last-child {
              cursor: default;
              color: $fontColor;
              &:after {
                content: no-close-quote;
              }
            }
          }
        }
        .search-inbar {
          display: inline-block;
          background: $activebg2;
          color: #fff;
          font-size: 13px;
          border-radius: 15px;
          padding: 0 15px;
          height: 25px;
          line-height: 24px;
          span {
            text-decoration: underline;
            display: inline-block;
            padding: 0 4px;
          }
        }
      }
      input {
        height: 24px;
        display: inline-block;
        min-width: 220px;
        border: none;
        vertical-align: super;
        background: none;
        outline: none;
        font-size: 14px;
        padding-left: 15px;
      }
      .el-icon-search, .el-icon-close {
        float: right;
        padding: 7px;
        display: inline-block;
        color: #bfcbd9;
        cursor: pointer;
      }
      .el-icon-close {
        font-size: 13px;
      }
    }
  }

  .bottom-row {
    padding: 4.5px 0;
    border-bottom: 1px solid #bfcbd9;
    padding-left: 20px;
    padding-right: 20px;
    .el-button-group {
      padding-right: 12px;
    }
    .file-opts {
      .small-upload {
        position: relative;
        float: left;
        .el-button {
          background: #fff;
          color: #333;
          border: 1px solid #bfcbd9;
          &:hover {
            color: #20a0ff;
            border-color: #20a0ff;
          }
        }
      }
      .area {
        float: right;
        display: inline-block;
        height: 28px;
        line-height: 28px;
        color: #549BEB;
        font-size: 12px;
      }
    }
  }

}

.file-list {
  $size: 120px;
  $time: 160px;
  background: $rightSidebarBgColor;
  height: calc(100% - 88px);
  overflow: hidden;
  position: relative;
  .list {
    padding: 0 20px;
    font-size: 14px;
    position: relative;
    & > div {
      display: inline-block;
    }
    &.header {
      font-size: 12px;
      padding: 6px 20px;
      background: #fff;
    }
    .size {
      width: $size;
    }
    .time {
      width: $time;
    }
    .name {
      width: calc(100% - 289px);
    }
  }
  .list-info {
    overflow-x: overlay;
    background: #fff;
    position: absolute;
    top: 30px;
    left: 0;
    right: 0;
    bottom: 271px;
    transition: all .5s;
    &.active{
      bottom: 41px;
    }
    .name {
      img {
        width: 32px;
        position: absolute;
        left: 20px;
        top: 4px;
      }
      p {
        padding-left: 42px;
      }
    }
    .list {
      height: 40px;
      line-height: 40px;
      &:nth-child(odd) {
        background: $fileBgColor;
      }
      &.active {
        background: $fileActive;
        color: #fff;
      }
    }
    .new-file {
      position: relative;
      padding: 5px 0;
      img {
        width: 32px;
        position: absolute;
        left: 20px;
        top: 5px;
      }
      .el-row {
        padding-left: 60px;
      }
      .el-col-8 {
        padding-left: 15px;
      }

    }
    .loading {
      text-align: center;
      font-size: 28px;
      color: #797979;
      padding-top: 15px;
      position: absolute;
      z-index: 999;
      text-align: center;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: rgba(255, 255, 255, .8);
    }
    .file-none {
      padding-top: 40px;
      font-size: 12px;
      text-align: center;
      color: #797979;
    }
  }
}

.list-progress {
  position: absolute;
  width: 100%;
  height: 270px;
  left: 0;
  bottom: 0;
  z-index: 99;
  background: #fff;
  border-top: 1px solid $borderColor;
  transition: all .5s;
  &.list-none {
    height: 40px;
  }
  .el-side-head {
    font-size: 12px;
    padding: 0 20px;
    padding-top: 7px;
    background: $rightSidebarBgColor;
    clear: both;
    border-bottom: 1px solid $borderColor;

    ul {
      list-style: none;
      float: left;
      z-index: 1;
    }
    li {
      display: inline-block;
      position: relative;
      z-index: 1;
      padding: 8px 20px;
      margin-right: 8px;
      cursor: pointer;
      &::before {
        border: 1px solid $borderColor;
        content: '';
        position: absolute;
        //top: 2px;
        //bottom: 4px;
        height: 20px;
        display: inline-block;
        right: 0;
        left: 0;
        z-index: -1;
        border-radius: 5px 5px 0 0;
        border-bottom: none;
        background: $rightSidebarBgColor linear-gradient(hsla(0, 0%, 100%, .2), hsla(0, 0%, 100%, 0));
        transform: scale(1.1, 1.3) perspective(10px) rotateX(5deg);
        transform-origin: left;
      }
      &.active {
        z-index: 5;
        &::before {
          background-color: #fff;
        }
      }
    }
    .el-speed {
      float: right;
      height: 32px;
      line-height: 30px;
      padding-right: 40px;
      position: relative;
      span {
        padding: 0 4px;
        text-align: center;
        display: inline-block;
      }
      i {
        position: absolute;
        top: 5px;
        right: 10px;
        text-align: center;
        width: 20px;
        height: 20px;
        display: inline-block;
        transform: rotate(90deg);
        color: #afbbc9;
        font-size: 12px;
        transition: all .5s;
        &.active{
          transform: rotate(-90deg);
        }
      }
    }
  }
  .el-side-content {
    .title-bar {
      padding: 7px 20px;
      border-bottom: 1px solid $borderColor;
    }
    .progress-file {
      overflow: auto;
      height: 180px;
      .progress-bar {
        &:hover {
          background: $fileBgColor;
        }
        &.active {
          background: $activebg2;
          .el-col {
            color: #fff;
          }
          .el-progress-bar__inner {
            background: #fff;
          }
          .el-progress__text {
            color: #fff;
          }
        }
      }

    }
    .progress-bar {
      position: relative;
      padding: 2px 0;
      padding-left: 58px;
      font-size: 12px;
      img {
        width: 28px;
        height: 28px;
        position: absolute;
        top: 4px;
        left: 20px;
      }
      .tl {
        width: 100%;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
      .el-col-4 {
        line-height: 36px;
        text-align: center;
        color: $fontColorDisable;
        i {
          cursor: pointer;
          display: inline-block;
          width: 24px;
          height: 24px;
        }
      }
    }
  }

  //.el-tabs__header {
  //  border-top: 1px solid #d1dbe5;
  //  background: #f8f8f8;
  //  padding-top: 7px;
  //  padding-left: 20px;
  //  margin-bottom: 8px;
  //}
  //.el-tabs__item {
  //  border: 1px solid #d1dbe5;
  //  position: relative;
  //  font-size: 12px;
  //  height: 32px;
  //  line-height: 32px;
  //}
  //.el-tabs__content {
  //  .title-bar {
  //    padding: 0 20px;
  //    border-bottom: 1px solid #ddd;
  //    padding-bottom: 8px;
  //  }
  //}
  //.is-active {
  //  background: #fff;
  //}
}

