
.index {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  .slide-left {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    background: $leftSidebarBgColor;
    width: 225px;
    border-right: 1px solid #cedfea;
  }
  .slide-right {
    position: absolute;
    top: 0;
    left: 226px;
    bottom: 0;
    right: 0;
    overflow: hidden;
    background: #fff;
  }

  //右键菜单
  #bucket-menu-list {
    background: #FAFAFA;
    box-shadow: 0 0 15px $fontColorDisable;
    display: block;
    list-style: none;
    margin: 0;
    padding: 0;
    position: absolute;
    width: 160px;
    outline: medium;
    z-index: 99999;
    background: #fff;
    border-radius: 4px;
    padding: 10px 0;
    li {
      cursor: pointer;
      padding: 6px 0;
      text-indent: 20px;
      font-size: 13px;
      &:hover {
        background: $rightSidebarBgColor;
      }
    }
  }

}

//左侧头部样式
.head {
  //background: $rightSidebarBgColor;
  .top-row {
    height: 45px;
    border-bottom: 1px solid #e8e8e8;
    position: relative;
    .history {
      padding-left: 20px;
      width: 40px;
      display: inline-block;
      margin-top: 9px;
      i {
        color: #20a0ff;
        padding: 4px 4px;
        font-size: 12px;
        float: left;
        &:nth-child(2) {
          border-left: 1px solid #fff;
        }
      }
      .back {
        display: inline-block;
        width: 21px;
        height: 21px;
        background: url("../../static/images/icon_back.png") no-repeat center center;
      }
    }
    .nav-bar {
      position: absolute;
      top: 12px;
      left: 60px;
      right: 20px;
      bottom: 10px;
      border: 1px solid #e8e8e8;
      border-radius: 20px;
      padding-left: 5px;
      .nav {
        display: inline-block;
        max-width: 60%;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        line-height: 18px;
        ul {
          li {
            display: inline-block;
            font-size: 12px;
            padding-left: 8px;
            &:hover {
              color: $fileActive;
              cursor: pointer;
            }
            &:after {
              content: '/';
              color: $fontColor;
              padding-left: 8px;
              display: inline-block;
            }
            &:last-child {
              cursor: default;
              color: $fontColor;
              &:after {
                content: no-close-quote;
              }
            }
          }
        }
        .search-inbar {
          display: inline-block;
          background: $activebg2;
          color: #fff;
          font-size: 12px;
          border-radius: 15px;
          padding: 0 15px;
          height: 18px;
          line-height: 18px;
          span {
            text-decoration: underline;
            display: inline-block;
            padding: 0 4px;
          }
        }
      }
      input {
        height: 20px;
        display: inline-block;
        min-width: 220px;
        border: none;
        vertical-align: super;
        background: none;
        outline: none;
        font-size: 12px;
        padding-left: 15px;
      }
      .el-icon-search, .el-icon-close {
        float: right;
        padding: 3px;
        display: inline-block;
        color: #bfcbd9;
        cursor: pointer;
        padding-right: 10px;
        padding-top: 2.5px;
      }
    }
  }

  .bottom-row {
    padding: 4px 0;
    border-bottom: 1px solid #e8e8e8;
    padding-left: 20px;
    padding-right: 20px;
    .el-button-group {
      padding-right: 12px;
    }
    .file-opts {
      .el-button--small {
        padding: 4px 9px;
        border: 1px solid #ddd;
        font-size: 12px;
        color: #2277da;
      }
      .el-button.is-disabled.is-plain, .el-button.is-disabled.is-plain:focus, .el-button.is-disabled.is-plain:hover {
        color: #bfcbd9;
      }
      .upload {
        background: #2277da;
        color: #fff;
        border-color: #2277da;
        .el-icon-plus {
          font-size: 11px;
        }
      }
      .area {
        float: right;
        display: inline-block;
        height: 28px;
        line-height: 28px;
        color: #549BEB;
        font-size: 12px;
      }
    }
  }

}

.file-list {
  $size: 120px;
  $time: 160px;
  background: $rightSidebarBgColor;
  position: absolute;
  left: 0;
  right: 0;
  top: 76px;
  bottom: 0;
  overflow: hidden;
  .list {
    padding: 0 20px;
    font-size: 13px;
    position: relative;
    & > div {
      display: inline-flex;
    }
    &.header {
      font-size: 12px;
      padding: 5.5px 20px;
      background: #fff;
      color: #444;
      background: #f6f8fa;
    }
    .size {
      width: $size;
    }
    .time {
      width: $time;
    }
    .name {
      width: calc(100% - 289px);
    }
  }
  .list-info {
    overflow-x: overlay;
    background: #fff;
    position: absolute;
    top: 30px;
    left: 0;
    right: 0;
    bottom: 0px;
    border:1px dashed transparent;
    &.dropable{
      border:1px dashed $activebg2;
    }

    .name {
      img {
        width: 24px;
        position: absolute;
        left: 20px;
        top: 4px;
      }
      p {
        padding-left: 42px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        width: 80%;
      }
    }
    .list {
      height: 32px;
      line-height: 32px;
      color: $fontColor;
      &:nth-child(odd) {
        background: #f8f8f8;
      }
      &.active {
        background: $fileActive !important;
      }
      &:hover {
        background: #eaf3fd;
      }
    }
    .new-file {
      position: relative;
      padding: 5px 0;
      img {
        width: 32px;
        position: absolute;
        left: 20px;
        top: 5px;
      }
      .el-row {
        padding-left: 60px;
      }
      .el-col-8 {
        padding-left: 15px;
      }

    }
    .loading {
      text-align: center;
      font-size: 28px;
      color: #797979;
      padding-top: 15px;
      position: absolute;
      z-index: 999;
      text-align: center;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: rgba(255, 255, 255, .8);
    }
    .file-none {
      padding-top: 40px;
      font-size: 12px;
      text-align: center;
      color: #797979;
    }
  }
}

.list-progress {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  bottom: 0;
  z-index: 99;
  background: #fff;
  transition: all .5s;
  &.list-none {
    height: 40px;
  }
  .el-side-head {
    font-size: 12px;
    padding: 20px 0;
    padding-top: 7px;
    background: $rightSidebarBgColor;
    border-right: 1px solid $borderColor;
    width: 180px;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    ul {
      list-style: none;
      z-index: 1;
    }
    li {
      display: block;
      position: relative;
      z-index: 1;
      padding: 8px 20px;
      margin: 2px 0px;
      cursor: pointer;
      color: #5b6678;
      text-align: center;
      font-size: 13px;
      &:hover{
        background: $hoverbg;
      }
      &.active {
        z-index: 5;
        color: #fff;
        background: $activebg;
      }
    }
    .el-speed {
      position: absolute;
      bottom: 10px;
      left: 0;
      right: 0;
      text-indent: 20px;
      span {
        padding: 0 4px;
        text-align: center;
        display: inline-block;
      }
      i {
        position: absolute;
        top: 5px;
        right: 10px;
        text-align: center;
        width: 20px;
        height: 20px;
        display: inline-block;
        transform: rotate(90deg);
        color: #afbbc9;
        font-size: 12px;
        transition: all .5s;
        &.active {
          transform: rotate(-90deg);
        }
      }
    }
  }
  .el-side-content {
    position: absolute;
    top: 0;
    left: 181px;
    right: 0;
    bottom: 0;
    .title-bar {
      padding: 10px 20px;
      border-bottom: 1px solid $borderColor;

      .el-button {
        color: #2277da;
        font-size: 11px;
      }
      .el-button.is-disabled.is-plain, .el-button.is-disabled.is-plain:focus, .el-button.is-disabled.is-plain:hover {
        color: #bfcbd9;
      }
      .select-btn {
        margin-right: 20px;
        .el-button {
          &:not(:first-child) {
            border-top-right-radius: 4px;
            border-bottom-right-radius: 4px;
          }
        }
      }
    }
    .progress-file {
      overflow: auto;
      height: 400px;
      .progress-bar {
        &:hover {
          background: #eaf3fd;
        }
        &.active {
          background: $fileActive;
        }
      }

    }
    .progress-bar {
      position: relative;
      padding: 2px 0;
      padding-left: 58px;
      font-size: 12px;
      img {
        width: 28px;
        height: 28px;
        position: absolute;
        top: 4px;
        left: 20px;
      }
      .el-progress__text {
        margin-left: 15px;
      }
      .tl {
        width: 100%;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        padding-top: 4px;
      }
      .el-col-4 {
        text-align: center;
        color: $fontColor;
        height: 32px;
        line-height: 32px;
        padding-top: 4px;
        i {
          cursor: pointer;
          display: inline-block;
          width: 24px;
          height: 24px;
        }
        .close {
          background: url("../../static/images/cancel.png") no-repeat center center;
        }
        .error {
          background: url("../../static/images/error.png") no-repeat center center;
        }
        .pause {
          background: url("../../static/images/stop.png") no-repeat center center;
        }
        .begin {
          background: url("../../static/images/begin.png") no-repeat center center;
        }
      }
    }
  }

}

.virtual-scroller[data-v-303cd025]:not(.page-mode) {
  overflow-y: auto;
}

.item-container[data-v-303cd025] {
  box-sizing: border-box;
  width: 100%;
  overflow: hidden;
}

.items[data-v-303cd025] {
  width: 100%;
}

.resize-observer[data-v-c7b3205a] {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  border: none;
  background-color: transparent;
  pointer-events: none;
  display: block;
  overflow: hidden;
  opacity: 0;
}

.test h1[data-v-5ee0142a] {
  color: #40b883;
}