
.index {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  .slide-left {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    background: $leftSidebarBgColor;
    width: 225px;
  }
  .slide-right {
    position: absolute;
    top: 0;
    left: 225px;
    bottom: 0;
    right: 0;
    overflow: hidden;
    background: #f8f8f8;
  }

  //右键菜单
  #bucket-menu-list {
    background: #FAFAFA;
    box-shadow: 0 0 15px $fontColorDisable;
    display: block;
    list-style: none;
    margin: 0;
    padding: 0;
    position: absolute;
    width: 160px;
    outline: medium;
    z-index: 99999;
    background: #fff;
    border-radius: 4px;
    padding: 10px 0;
    li {
      cursor: pointer;
      padding: 6px 0;
      text-indent: 20px;
      font-size: 13px;
      &:hover {
        background: $rightSidebarBgColor;
      }
    }
  }

}

//左侧头部样式
.head {
  background: $rightSidebarBgColor;
  .top-row {
    height: 43px;
    padding-top: 19px;
    margin-left: 20px;
    margin-right: 20px;
    position: relative;
    -webkit-app-region: drag;

    .nav {
      border-bottom: 1px solid $borderColor;
      padding-bottom: 12px;
      padding-top: 4px;
      * {
        -webkit-app-region: no-drag;
      }
      ul {
        display: inline-block;
        max-width: calc(100% - 70px);
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        line-height: 21px;
        li {
          display: inline-block;
          font-size: 13px;
          padding-left: 8px;
          color: $activebg;
          &:hover {
            color: $fileActive;
            cursor: pointer;
          }
          &:after {
            content: '>';
            color: #999;
            padding-left: 8px;
            display: inline-block;
          }
          &:last-child {
            cursor: default;
            color: #999;
            &:after {
              content: no-close-quote;
            }
          }
        }
      }
      .el-icon-search {
        float: right;
      }
      .back {
        float: left;
        width: 16px;
        height: 16px;
        padding-right: 10px;
        background: url("../../static/images/back.png") no-repeat center left;
        &.optic {
          opacity: .5;
        }
      }
      i {
        margin-top: 3px;
      }
    }
    .search-bar {
      border-bottom: 1px solid #aacdf6;
      padding-bottom: 3px;
      padding-top: 4px;
      input {
        position: relative;
        top: -5px;
        height: 36px;
        display: inline-block;
        width: calc(100% - 100px);
        background: none;
        outline: none;
        border: none;
        font-size: 18px;
        padding: 0;
        color: #333;
        font-family: PingFangSC-Light;
      }
      .el-icon-search, .el-icon-close {
        padding: 3px;
        display: inline-block;
        color: #aebac8;
        cursor: pointer;
        padding-right: 10px;
      }
      .el-icon-search {
        float: left;
        font-size: 20px;
      }
      .el-icon-close {
        float: right;
      }
    }
    .icon-search, .el-icon-close {
      &:before {
        content: ''
      }
      width: 20px;
      height: 20px;
      background: url("../../static/images/search.png") no-repeat center center;
    }
    .el-icon-close {
      background: url("../../static/images/close1.png") no-repeat center center;
    }
  }

  .bottom-row {
    padding-top: 15px;
    padding-bottom: 15px;
    border-bottom: 1px solid $borderColor;
    padding-left: 20px;
    padding-right: 20px;
    .el-button-group {
      margin-right: 60px;
    }
    .file-opts {
      .el-button--small {
        background: none;
        padding: 8px 9px;
        border: 1px solid #8c95a4;
        font-size: 12px;
        color: #607086;
        &.is-disabled.is-plain {
          border: 1px solid #bfcbd9 !important;
        }
      }
      .el-button.is-disabled.is-plain, .el-button.is-disabled.is-plain:focus, .el-button.is-disabled.is-plain:hover {
        color: #bfcbd9;
        cursor: default;
      }
      .upload {
        background: $activebg2;
        color: #fff;
        border-color: #2277da;
        .el-icon-plus {
          font-size: 11px;
        }
      }
      .area {
        float: right;
        display: inline-block;
        height: 28px;
        line-height: 28px;
        color: #549BEB;
        font-size: 12px;
      }
      .max-width {
        width: 88px;
      }
    }
  }

}

.file-list {
  $size: 120px;
  $time: 160px;
  background: $rightSidebarBgColor;
  position: absolute;
  left: 0;
  right: 0;
  top: 123px;
  bottom: 0;
  overflow: hidden;
  .list {
    padding: 0 20px;
    font-size: 13px;
    position: relative;
    & > div {
      display: inline-flex;
    }
    &.header {
      font-size: 12px;
      padding: 5.5px 20px;
      color: #8c95a4;
      .time {
        border-left: 1px solid $borderColor;
        border-right: 1px solid $borderColor;
      }
    }
    .size {
      width: $size;
      text-indent: 20px;
    }
    .time {
      width: $time;
      text-indent: 20px;
    }
    .name {
      width: calc(100% - 290px);
    }
  }
  .list-info {
    overflow-x: overlay;
    background: $rightSidebarBgColor;
    position: absolute;
    top: 30px;
    left: 0;
    right: 0;
    bottom: 0px;
    &.dropable {
      border: 1px dashed $activebg2;
    }
    .virtual-scroller {
      height: 100%;
    }
    .name {
      img {
        width: 20px;
        position: absolute;
        left: 20px;
        top: 6px;
      }
      p {
        padding-left: 32px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        width: 80%;
      }
    }
    .list {
      height: 34px;
      line-height: 34px;
      display: flex;
      color: $fontColor;
      &:nth-child(odd) {
        background: #f1f1f1;
      }
      &.active {
        color: #fff;
        background: $activebg2 !important;
      }
      &:hover {
        background: #EAECF2;
      }
    }
    .new-file {
      position: relative;
      padding: 5px 0;
      img {
        width: 20px;
        position: absolute;
        left: 20px;
        top: 5px;
      }
      .el-row {
        padding-left: 54px;
        .el-input__inner {
          height: 24px;
          font-size: 13px;
        }
      }
      .el-col-8 {
        &:nth-child(2) {
          padding-left: 15px;
        }
        .el-button--small {
          padding: 4px 9px;
          margin-left: 5px;
        }
      }

    }
    .loading {
      text-align: center;
      font-size: 28px;
      color: #797979;
      padding-top: 15px;
      position: absolute;
      z-index: 999;
      text-align: center;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: rgba(255, 255, 255, .8);
    }
    .file-none {
      padding-top: 40px;
      font-size: 12px;
      text-align: center;
      color: #797979;
    }
  }
}

.list-progress {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  bottom: 0;
  z-index: 1;
  background: #f8f8f8;
  transition: all .5s;
  &.list-none {
    height: 40px;
  }
  .el-side-head {
    font-size: 12px;
    padding: 20px 0;
    padding-top: 30px;
    background: #f0f1f4;
    border-right: 1px solid $borderColor;
    width: 180px;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    ul {
      list-style: none;
      z-index: 1;
    }
    li {
      display: block;
      position: relative;
      z-index: 1;
      padding: 8px 20px;
      padding-left: 30px;
      margin: 2px 0px;
      cursor: pointer;
      color: #5b6678;
      text-align: left;
      font-size: 13px;
      span {
        color: #9c9c9c;
      }
      &:hover {
        background: $hoverbg;
      }
      &.active {
        z-index: 5;
        color: #fff;
        background: $activebg;
        span {
          color: #fff;
          opacity: .6;
        }
      }
    }

  }
  .el-side-content {
    position: absolute;
    top: 0;
    left: 181px;
    right: 0;
    bottom: 34px;
    border-bottom: 1px solid $borderColor;
    .title-bar {
      padding: 10px 20px;
      padding-left: 60px;
      padding-top: 20px;
      padding-bottom: 10px;
      border-bottom: 1px solid $borderColor;
      -webkit-app-region: drag;
      .el-button {
        color: #607086;
        background: none;
        border-color: $borderColor;
        font-size: 11px;
        -webkit-app-region: no-drag;
      }
      .el-button.is-disabled.is-plain, .el-button.is-disabled.is-plain:focus, .el-button.is-disabled.is-plain:hover {
        color: #bfcbd9;
        cursor: default;
      }
      .select-btn {
        margin-right: 40px;
        .el-button {
          &:not(:first-child) {
            border-top-right-radius: 2px;
            border-bottom-right-radius: 2px;
          }
        }
      }
    }
    .progress-file {
      height: 357px;
      overflow: auto;

    }
    .progress-bar {
      position: relative;
      font-size: 13px;
      height: 36px;
      border-bottom: 1px solid $borderColor;
      .content {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        .el-col-12 {
          text-indent: 58px;
        }
        .el-row {
          height: 100%;
          .el-col {
            height: 100%;
          }
        }
      }
      img {
        width: 28px;
        height: 28px;
        position: absolute;
        top: 4px;
        left: 20px;
      }
      .diff {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: -1;
        &.p {
          background: #d6f2dd;
        }
        &.s {
          background: #ddd;
        }
        &.r {
          background: #eaf3fe;
        }
        &.e {
          background: #ffc4b8;
        }
      }

      .el-progress__text {
        margin-left: 15px;
      }
      .tl {
        width: 100%;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        height: 32px;
        line-height: 32px;
      }
      .el-col-4 {
        text-align: center;
        height: 32px;
        line-height: 32px;
        i {
          cursor: pointer;
          display: inline-block;
          width: 24px;
          height: 24px;
          margin-top: 3.5px;
        }
        .close {
          background: url("../../static/images/cancel.png") no-repeat center center;
        }
        .error {
          background: url("../../static/images/error.png") no-repeat center center;
        }
        .pause {
          background: url("../../static/images/stop.png") no-repeat center center;
        }
        .begin {
          background: url("../../static/images/begin.png") no-repeat center center;
        }
      }

      &:hover {
        background: #eaf3fd;
      }
      &.active {
        color: #fff;
        .content {
          background: $activebg2;
        }
      }
    }
    .log {
      height: 360px;
      font-size: 11px;
      overflow: auto;
      padding-left: 15px;
      background: #f7f7f7;
      user-select: initial;
      & > div {
        word-break: break-all;
        margin: 5px 0;
      }
    }
  }

  .el-speed {
    position: absolute;
    bottom: 10px;
    left: 0;
    right: 0;
    text-align: right;
    padding-right: 20px;
    p {
      display: inline-block;
      font-size: 13px;
      color: #9c9c9c;
      margin-left: 25px;
    }
  }
}

.virtual-scroller[data-v-303cd025]:not(.page-mode) {
  overflow-y: auto;
}

.item-container[data-v-303cd025] {
  box-sizing: border-box;
  width: 100%;
  overflow: hidden;
}

.items[data-v-303cd025] {
  width: 100%;
}

.resize-observer[data-v-c7b3205a] {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  border: none;
  background-color: transparent;
  pointer-events: none;
  display: block;
  overflow: hidden;
  opacity: 0;
}

.test h1[data-v-5ee0142a] {
  color: #40b883;
}