

//左侧背景色
$leftSidebarBgColor: #f0f6f6;

//右侧背景色
$rightSidebarBgColor: #f6f8fa;

//普通背景色
$otherBackgrund: rgb(56, 60, 62);

//激活背景色
$activebg: #4d99e6;

$activebg2: #20a0ff;

//字体颜色
$fontColorDisable: #a7a7a7;
$fontColor: #454a51;

//文件背景色
$fileBgColor: #f8f8f8;
$fileActive: #a5cffd;

//border颜色
$borderColor: #e8e8e8;