//左侧背景色
$leftSidebarBgColor: rgb(37, 39, 43);

//右侧背景色
$rightSidebarBgColor: rgb(242, 242, 242);

//普通背景色
$otherBackgrund: rgb(56, 60, 62);

//激活背景色
$activebg: rgb(0, 0, 0);
$activebg2: #20a0ff;

//字体颜色
$fontColorDisable: #a7a7a7;
$fontColor: #c3c3c3;

//文件背景色
$fileBgColor: #f8f8f8;
$fileActive: #55a8ee;

//border颜色
$borderColor: #d1dbe5;