//左侧背景色
$leftSidebarBgColor: #1f2c33;
$leftSidebarBgColor2: #1b272e;

//右侧背景色
$rightSidebarBgColor: #f8f8f8;

//普通背景色
$otherBackgrund: rgb(56, 60, 62);

//激活背景色
$activebg: #3389e9;

$activebg2: #20a0ff;

$hoverbg: #d5e2ef;

//字体颜色
$fontColorDisable: #a7a7a7;
$fontColor: #333;

//文件背景色
$fileBgColor: #f8f8f8;
$fileActive: rgb(76, 135, 226);

//border颜色
$borderColor: #e2e3e5;